<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= article.url %>
  </p>

  <% link_preview_data = LinkThumbnailer.generate(article.url) %>
  <% if link_preview_data %>
    <div>
      <strong>Link Preview:</strong>
      <p><%= link_preview_data.description %></p>
      <p><%= link_preview_data.favicon %></p>
      <p><%= link_preview_data.url %></p>
    </div>
  <% end %>
</div>
