<div id="<%= dom_id article %>" class="py-8">
  <% link_preview_data = LinkThumbnailer.generate(article.url) %>
  <% if link_preview_data %>
    <div class="card lg:card-side bg-base-100 shadow-xl bg-slate-50">
      <% if link_preview_data.images.first.src.to_s %>
      <figure class="w-2/5"><%= image_tag link_preview_data.images.first.src.to_s %></figure>
      <% end %>
      <div class="card-body w-3/5">
        <h2 class="card-title text-black">
           <%= article.title %>
        </h2>
        <p class="text-slate-900"><%= link_preview_data.description %></p>

        <!-- You can open the modal using ID.showModal() method -->


        <div class="card-actions justify-end">
        <button class="btn" onclick="my_modal_<%= article.id %>.showModal()">AI Summary</button>
        <dialog id="my_modal_<%= article.id %>" class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="font-bold text-lg"><%= article.title %></h3>
            <p class="py-4"><%= article.summary %></p>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog>
        </div>

        <div class="card-actions justify-end">
          <button class="btn btn-primary">
            <%= link_to "Read More", article.url %>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
